@font-face {
  font-family: Hasweny;
  src: url("../../../assets/fonts/Hasweny.otf");
}

@font-face {
  font-family: LEMONMILK;
  src: url("../../../assets/fonts/LEMONMILK-Bold.otf");
}

.homeTitle {
  font-family: Hasweny;
  letter-spacing: 0.3rem;
  text-align: left;
  -webkit-text-stroke: 2px rgba(47, 79, 79, 0.281);
  paint-order: stroke fill;
  text-shadow: -2px 2px 3px rgb(255, 255, 255);

  margin: 0.8rem 0;
}
