ul {
  padding: 0;
}

.componentHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(134, 134, 134);
}

.componentTitle {
  color: rgb(222, 145, 135);
  font-size: 2.2rem;
  font-family: Hasweny;
  letter-spacing: 0.3rem;
  text-align: left;
  margin: 1rem 0;
  text-shadow: -2px 2px 3px rgb(255, 255, 255);
}


.filterContainer {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 1rem auto;
}

.addEvent {
  width: fit-content;
  margin: 1rem auto;
  padding: 0.4rem 1rem 1rem 1rem;
  border: 2px solid rgba(105, 105, 105, 0.11);
  box-shadow: -4px 4px 1px rgba(105, 105, 105, 0.11);
  outline: 2px solid rgb(241, 237, 229);
}

.subTitle {
  color: dimgrey;
  font-family: Hasweny;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  text-align: center;
  width: 400px;
  margin: 1.5rem auto;
  padding: 0.6rem 0.3rem;
  border: 2px solid rgba(105, 105, 105, 0.11);
  box-shadow: -4px 4px 1px rgba(105, 105, 105, 0.11);
}


.removeBtn,
.addBtn, 
.editBtn {
  font-size: 0.6rem;
  color: dimgrey;
  font-family: LEMONMILK;
  width: fit-content;
  margin: 1rem auto;
  padding: 0.4rem;
  box-shadow: -4px 4px 1px rgb(134, 134, 134);
  border: 2px solid dimgrey;
  transition: 0.1s ease;
}

.logoutBtn {
  font-size: 0.6rem;
  color: dimgrey;
  font-family: LEMONMILK;
  width: fit-content;
  margin: 2rem auto;
  padding: 0.4rem;
  box-shadow: -4px 4px 1px rgb(134, 134, 134);
  border: 2px solid dimgrey;
  transition: 0.1s ease;
}
.addBtn {
  margin: 0;
}

.editBtn {
  margin-right: 0.8rem;
}

.repsBtn,
#prioBtn {
  font-size: 0.6rem;
  color: dimgrey;
  font-family: LEMONMILK;
  width: fit-content;
  margin: 0 0.2rem;
  padding: 0.4rem 0.6rem;
  border: 2px solid dimgrey;
  transition: 0.1s ease;
}

.repsBtn:hover,
#prioBtn:hover,
.addBtn:hover {
  color: goldenrod;
}

#prioBtn.active {
  color: goldenrod;
}

.logoutBtn:hover,
.removeBtn:hover,
.editBtn:hover {
  color: rgb(222, 145, 135);
  box-shadow: -0px 0px 1px rgb(134, 134, 134);
  transition: 0.1s ease;
}

.habitsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: auto 0;
  margin: 1rem auto;
  width: 1040px;
  gap: 1rem;
}

.habit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  margin: 1.2rem auto;
  background-color: rgb(241, 237, 229);
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(134, 134, 134);
  outline: 2px solid rgb(241, 237, 229);
  box-shadow: -8px 8px 1px rgb(134, 134, 134);
}

#eventCard {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
}

.repsText {
  font-family: Hasweny;
  line-height: 1.2rem;
  margin: 0.8rem 0;
}

.eventText {
  font-family: Hasweny;
  line-height: 1.2rem;
  margin: 0.6rem 0;
}

.repsBox,
.prioBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
}

.habitTitle, .eventTitle {
  font-family: Hasweny;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  max-width: 600px;
  text-align: left;
  margin: 0.3rem auto;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-bottom: 1px solid rgba(105, 105, 105, 0.11);
}

.eventTitle {
  border: none;
  margin: 1rem auto;
}

.lowPrio {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(202, 218, 238);
  filter: blur(1px);
  margin-right: 0.5rem;
}

.medPrio {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: goldenrod;
  filter: blur(1px);
  margin-right: 0.5rem;
}

.hiPrio {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: yellowgreen;
  filter: blur(1px);
  margin-right: 0.5rem;
}

p {
  margin: 1rem auto;
}

select,
option,
.habitInput,
.eventInput {
  border: 2px solid dimgrey;
  background-color: transparent;
  padding: 0.2rem;
  font-family: Hasweny;
}

.eventInput {
  margin-bottom: 0.5rem;
}

.addForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  margin: 0 auto;
}

footer {
  border-top: none;
  padding: 2rem;
  margin: 1rem auto;
}

.btnBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* gap: 1rem; */
}
