@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.quoteScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(241, 237, 229);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Remove transition from here */
}

.fadeIn {
  animation: fadeIn 1s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.quoteHeader {
  color: dimgrey;
  font-family: Hasweny;
  font-size: 2.4rem;
  margin: 0 auto;
  padding: 1rem 0;
  width: fit-content;
  border-bottom: 2px solid rgba(105, 105, 105, 0.11);
}

.quoteText {
  font-family: Hasweny;
  font-size: 24px;
  font-style: italic;
  letter-spacing: 0.4rem;
  max-width: 600px;
  text-align: center;
  margin: 3rem auto;
  padding: 3rem;
  /* Text will fade in */
  opacity: 0;
  animation: fadeIn 1.4s ease-in forwards;
  border: 2px solid rgba(105, 105, 105, 0.11);
}

.quoteAuthor {
  font-size: 18px;
  color: #666;
  /* Author will fade in */
  opacity: 0;
  animation: fadeIn 1s ease-in 0.3s forwards;
}

.loginBtn {
  color: dimgrey;
  font-family: LEMONMILK;
  width: 100px;
  margin: 0 auto;
  padding: 0.2rem;
  box-shadow: -4px 4px 1px rgb(134, 134, 134);
  border: 2px solid dimgrey;
  transition: 0.1s ease;
}

.loginBtn:hover {
  color: rgb(222, 145, 135);
  font-family: LEMONMILK;
  width: 100px;
  margin: 0 auto;
  padding: 0.2rem;
  box-shadow: -0px 0px 1px rgb(134, 134, 134);
  border: 2px solid dimgrey;
  transition: 0.1s ease;
}