.todoListHeader {
  text-align: center;
}

.todoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
    gap: 0.5rem;
    text-align: left !important;
}

@media (max-width: 768px) {
  .todoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    gap: 0.5rem;
}
}

@media (max-width: 500px) {
  .todoContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
    gap: 0.5rem;
}
}